.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px; 
    text-align: center;
}

.wrapper .topic {
    font-size: 16px;
    padding: 5px 25px 0px;

}

.wrapper .input-box {
    position:  relative;
    width: 100%;
    height: 50px;
    margin: 5px 0 5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

                                    /* P H O N E */

.wrapper .phone-input-box {
    position:  relative;
    width: 100%;
    height: 50px;
    margin: 10px 0 30px;
}

.phone-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px 20px;
}

.phone-input-box input::placeholder {
    color: #fff;
}

.phone-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: rgb(213, 215, 218);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}