.wrapper {
    width: 420px;
    background: rgb(248, 134, 31);
    color: black;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position:  relative;
    width: 100%;
    height: 50px;
}